APP_NAME=Goravel
APP_ENV=local
APP_KEY=TMWoydx8nCTSGMufagO6KHp31xvXwauO
APP_DEBUG=true

LOG_CHANNEL=stack
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120

APP_URL=http://localhost:8000
APP_HOST=127.0.0.1
APP_PORT=8000

JWT_SECRET=5ruGV9JGZctDRNzl8UQnQyqa74BEITcP

AI_PROVIDER=

OPENAI_API_KEY=
OPENAI_BASE_URL=

DB_CONNECTION=sqlite
DB_HOST=
DB_PORT=
DB_DATABASE=database.sqlite
DB_USERNAME=
DB_PASSWORD=

GRPC_HOST=127.0.0.1
GRPC_PORT=50051

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
